hotels.dtd

<!NOTATION jpeg SYSTEM "image/jpeg">
<!ENTITY hotel1_image0 PUBLIC "hotel1_image0_identifier" "https://i.ibb.co/5X7LgtGW/image.png" NDATA jpeg>
<!ENTITY hotel1_image1 PUBLIC "hotel1_image1_identifier" "https://i.ibb.co/1YmxKL3M/image.png" NDATA jpeg>
<!ENTITY hotel1_image2 PUBLIC "hotel1_image2_identifier" "https://i.ibb.co/5WWKdvFT/image.png" NDATA jpeg>
<!ENTITY hotel2_image0 PUBLIC "hotel2_image0_identifier" "https://i.ibb.co/hRM15LDc/image.png" NDATA jpeg>
<!ENTITY hotel2_image1 PUBLIC "hotel2_image1_identifier" "https://i.ibb.co/mCDTFQd7/image.png" NDATA jpeg>
<!ENTITY hotel2_image2 PUBLIC "hotel2_image2_identifier" "https://i.ibb.co/qLSVV7z3/image.png" NDATA jpeg>
<!ENTITY hotel3_image0 PUBLIC "hotel3_image0_identifier" "https://i.ibb.co/xqSc0jr5/image.png" NDATA jpeg>
<!ENTITY hotel3_image1 PUBLIC "hotel3_image1_identifier" "https://i.ibb.co/b5KP7wBg/image.png" NDATA jpeg>
<!ENTITY hotel3_image2 PUBLIC "hotel3_image2_identifier" "https://i.ibb.co/9HKPD2yy/image.png" NDATA jpeg>
<!ENTITY hotel4_image0 PUBLIC "hotel4_image0_identifier" "https://i.ibb.co/9kyvZCgk/image.png" NDATA jpeg>
<!ENTITY hotel4_image1 PUBLIC "hotel4_image1_identifier" "https://i.ibb.co/Dgt2Zrq2/image.png" NDATA jpeg>
<!ENTITY hotel5_image0 PUBLIC "hotel5_image0_identifier" "https://i.ibb.co/0jttC0t8/image.png" NDATA jpeg>
<!ENTITY hotel5_image1 PUBLIC "hotel5_image1_identifier" "https://i.ibb.co/JSsF18k/image.png" NDATA jpeg>
<!ENTITY hotel5_image2 PUBLIC "hotel5_image2_identifier" "https://i.ibb.co/Zz15Dx19/image.png" NDATA jpeg>
<!ENTITY hotel6_image0 PUBLIC "hotel6_image0_identifier" "https://i.ibb.co/LdTPLN7T/image.png" NDATA jpeg>
<!ENTITY hotel6_image1 PUBLIC "hotel6_image1_identifier" "https://i.ibb.co/tpSs4NNq/image.png" NDATA jpeg>
<!ENTITY hotel7_image0 PUBLIC "hotel7_image0_identifier" "https://i.ibb.co/jP7d013d/image.png" NDATA jpeg>
<!ENTITY hotel7_image1 PUBLIC "hotel7_image1_identifier" "https://i.ibb.co/d0zMRqFH/image.png" NDATA jpeg>
<!ENTITY hotel8_image0 PUBLIC "hotel8_image0_identifier" "https://i.ibb.co/Tqqrx35K/image.png" NDATA jpeg>
<!ENTITY hotel8_image1 PUBLIC "hotel8_image1_identifier" "https://i.ibb.co/S4R2FrTM/image.png" NDATA jpeg>

<!ELEMENT catalogue (hotels,regions,chains)>
<!ATTLIST catalogue xmlns:xsi CDATA #FIXED "http://www.w3.org/2001/XMLSchema-instance">
<!ATTLIST catalogue xsi:noNamespaceSchemaLocation CDATA #FIXED "hotels.xsd">

<!ELEMENT hotels (hotel+)>
<!ELEMENT hotel (name,category,address,description?,stars,rating,review_count?,price?,checkin_time?,checkout_time?,phone?,email?,website?,thumbnail,gallery?,amenities,rooms)>
<!ATTLIST hotel id ID #REQUIRED>
<!ATTLIST hotel region IDREF #REQUIRED>
<!ATTLIST hotel chain IDREF #IMPLIED>
<!ATTLIST hotel property_type (hotel|apartment|hostel|guesthouse|vacation-rental|bed-and-breakfast|motel|resort) "hotel">

<!ELEMENT name (#PCDATA)>
<!ELEMENT category (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT stars (#PCDATA)>
<!ELEMENT rating (#PCDATA)>
<!ELEMENT review_count (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ATTLIST price currency CDATA "EUR">
<!ATTLIST price per (night|week|month|stay) "night">
<!ELEMENT checkin_time (#PCDATA)>
<!ELEMENT checkout_time (#PCDATA)>
<!ELEMENT phone (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT website (#PCDATA)>

<!ELEMENT amenities EMPTY>
<!ATTLIST amenities breakfast (true|false) "false">
<!ATTLIST amenities dinner (true|false) "false">
<!ATTLIST amenities wi-fi (true|false) "false">
<!ATTLIST amenities parking (true|false) "false">
<!ATTLIST amenities restaurant (true|false) "false">
<!ATTLIST amenities bar (true|false) "false">
<!ATTLIST amenities pool (true|false) "false">
<!ATTLIST amenities indoor-pool (true|false) "false">
<!ATTLIST amenities outdoor-pool (true|false) "false">
<!ATTLIST amenities fitness (true|false) "false">
<!ATTLIST amenities spa (true|false) "false">
<!ATTLIST amenities massage (true|false) "false">
<!ATTLIST amenities sauna (true|false) "false">
<!ATTLIST amenities hot-tub (true|false) "false">
<!ATTLIST amenities conference-rooms (true|false) "false">
<!ATTLIST amenities pets (true|false) "false">
<!ATTLIST amenities room-service (true|false) "false">
<!ATTLIST amenities shuttle-service (true|false) "false">
<!ATTLIST amenities airport-shuttle (true|false) "false">
<!ATTLIST amenities car-rental (true|false) "false">
<!ATTLIST amenities kids-club (true|false) "false">
<!ATTLIST amenities playground (true|false) "false">
<!ATTLIST amenities beach-access (true|false) "false">

<!ELEMENT thumbnail EMPTY>
<!ATTLIST thumbnail source ENTITY #REQUIRED>

<!ELEMENT gallery (image+)>
<!ELEMENT image EMPTY>
<!ATTLIST image source ENTITY #REQUIRED>

<!ELEMENT rooms (room+)>
<!ELEMENT room (type,beds,capacity,size?,price_per_night?,facilities?)>
<!ATTLIST room id ID #REQUIRED>
<!ATTLIST room available_count CDATA "1">

<!ELEMENT type (#PCDATA)>
<!ELEMENT beds (#PCDATA)>
<!ELEMENT capacity (#PCDATA)>
<!ELEMENT size (#PCDATA)>
<!ELEMENT price_per_night (#PCDATA)>

<!ELEMENT facilities EMPTY>
<!ATTLIST facilities non-smoking (true|false) "true">
<!ATTLIST facilities kitchen (true|false) "false">
<!ATTLIST facilities air-conditioning (true|false) "false">
<!ATTLIST facilities balcony (true|false) "false">
<!ATTLIST facilities tv (true|false) "false">
<!ATTLIST facilities bath (true|false) "false">
<!ATTLIST facilities shower (true|false) "false">
<!ATTLIST facilities shared-bathroom (true|false) "false">
<!ATTLIST facilities coffee-maker (true|false) "false">
<!ATTLIST facilities hairdryer (true|false) "false">
<!ATTLIST facilities iron (true|false) "false">
<!ATTLIST facilities desk (true|false) "false">
<!ATTLIST facilities sitting-area (true|false) "false">
<!ATTLIST facilities wardrobe (true|false) "false">

<!ELEMENT regions (region+)>
<!ELEMENT region (country, municipality, city)>
<!ATTLIST region id ID #REQUIRED>
<!ELEMENT country (#PCDATA)>
<!ELEMENT municipality (#PCDATA)>
<!ELEMENT city (#PCDATA)>

<!ELEMENT chains (chain+)>
<!ELEMENT chain (name)>
<!ATTLIST chain id ID #REQUIRED>